<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Trophées</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let pdata of data" (click)="openTrophy(pdata)">
      <!--<ion-thumbnail item-start *ngIf="{{ pdata.unlocked }}; then thenBlock else elseBlock">
        <img #thenBlock src="{{ pdata.image }}"/>
        <img #elseBlock src="assets/img/trophies/bloque.png"/>
      </ion-thumbnail>-->
      <ion-thumbnail item-start>
        <img src="{{ pdata.image }}"/>
      </ion-thumbnail>
      <h2 style="font-size: 1.32rem;">{{ pdata.name }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
